Repository CatalaLang/catala, pull requests merged in 2021-11, with the labels that each got.

#155 tentative nix support
  .github/workflows/build.yml
  .gitignore
  .nix/bindlib.nix
  .nix/no-web.patch
  .nix/unionfind.nix
  INSTALL.md
  README.md
  default.nix
  release.nix
  shell.nix
Labels: ✨ enhancement, 🏗️ build system

#163 Docs: comestic changes for the README
  README.md
Labels: 📘 documentation

#160 add menhirLib to Nix dependencies
  .github/workflows/build.yml
  default.nix
Labels: ❌ bug, 🏗️ build system
