Repository CatalaLang/catala, pull requests merged in 2022-07, with the labels that each got.

#286 Restore automatic rebuild of all tests by ninja
  build_system/clerk_driver.ml
Labels: ❌ bug, 🏗️ build system

#294 fix(examples): assets are now generated from the repo root
  examples/Makefile.common.mk
  french_law/js/french_law.js
  french_law/ocaml/law_source/allocations_familiales.ml
Labels: ❌ bug, 🏗️ build system

#289 Fix encoding of chains of groups of exceptions
  Dockerfile
  Makefile
  compiler/dcalc/ast.ml
  compiler/dcalc/ast.mli
  compiler/dcalc/typing.ml
  compiler/dcalc/typing.mli
  compiler/desugared/ast.ml
  compiler/desugared/ast.mli
  compiler/desugared/dependency.ml
  compiler/desugared/dependency.mli
  compiler/desugared/desugared_to_scope.ml
  compiler/driver.ml
  compiler/lcalc/ast.ml
  compiler/lcalc/ast.mli
  compiler/lcalc/optimizations.ml
  compiler/scalc/compile_from_lambda.ml
  compiler/surface/desugaring.ml
  compiler/surface/name_resolution.ml
  compiler/surface/name_resolution.mli
  compiler/verification/z3backend.real.ml
  french_law/js/french_law.js
  french_law/ocaml/law_source/allocations_familiales.ml
  french_law/python/src/allocations_familiales.py
  tests/test_bool/good/output/test_bool.catala_en.Dcalc
  tests/test_bool/good/output/test_bool.catala_en.Scopelang
  tests/test_default/bad/output/conflict.catala_en.A.Interpret
  tests/test_exception/bad/output/exceptions_cycle.catala_en.A.Interpret
  tests/test_exception/bad/output/self_exception.catala_en.A.Interpret
  tests/test_exception/bad/output/two_exceptions.catala_en.A.Interpret
  tests/test_exception/good/groups_of_exceptions.catala_en
  tests/test_exception/good/output/groups_of_exceptions.catala_en.scopelang
  tests/test_func/bad/output/bad_func.catala_en.S.Interpret
  tests/test_io/good/output/all_io.catala_en.A.Dcalc
  tests/test_io/good/output/subscope.catala_en.B.Dcalc
  tests/test_scope/bad/output/scope.catala_en.A.Interpret
  tests/test_scope/good/output/191_fix_record_name_confusion.catala_en.OCaml
  tests/test_scope/good/output/simple.catala_en.Lcalc
  tests/test_scope/good/simple.catala_en
  tests/test_variable_state/good/output/subscope.catala_en.A.Scopelang
Labels: ❌ bug, 🔧 compiler

#291 feat(plugins): add a new backend for generating JSOO wrapper
  .gitattributes
  .gitignore
  Makefile
  build_system/dune
  compiler/dcalc/ast.ml
  compiler/dcalc/ast.mli
  compiler/dcalc/dune
  compiler/dcalc/interpreter.ml
  compiler/dune
  compiler/index.mld
  compiler/lcalc/ast.ml
  compiler/lcalc/ast.mli
  compiler/lcalc/dune
  compiler/lcalc/to_ocaml.ml
  compiler/lcalc/to_ocaml.mli
  compiler/plugins/dune
  compiler/plugins/jsoo.ml
  compiler/scalc/dune
  compiler/scalc/to_python.ml
  compiler/surface/desugaring.ml
  compiler/utils/cli.ml
  compiler/utils/cli.mli
  compiler/utils/file.ml
  compiler/utils/file.mli
  compiler/verification/dune
  dune
  examples/Makefile.common.mk
  french_law/js/README.md
  french_law/js/french_law.js
  french_law/ocaml/README.md
  french_law/ocaml/api.ml
  french_law/ocaml/api.mli
  french_law/ocaml/api_web.ml
  french_law/ocaml/bench.ml
  french_law/ocaml/dune
  french_law/ocaml/law_source/allocations_familiales.ml
  french_law/ocaml/law_source/allocations_familiales.mli
  french_law/ocaml/law_source/allocations_familiales_api_web.ml
  french_law/ocaml/law_source/dune
  french_law/ocaml/law_source/unit_tests/dune
  french_law/ocaml/law_source/unit_tests/run_tests.ml
  runtimes/dune
  runtimes/jsoo/dune
  runtimes/jsoo/runtime.ml
  runtimes/jsoo/runtime.mli
  runtimes/ocaml/dune
  runtimes/ocaml/runtime.ml
  runtimes/ocaml/runtime.mli
  tests/test_scope/good/output/191_fix_record_name_confusion.catala_en.OCaml
Labels: ✨ enhancement, 🔧 compiler, 🔚 backends

#296 Feat: new json_schema plugin
  Makefile
  compiler/driver.ml
  compiler/plugin.ml
  compiler/plugin.mli
  compiler/plugins/api_web.ml
  compiler/plugins/dune
  compiler/plugins/json_schema.ml
  compiler/plugins/plugins.mld
  compiler/plugins/python.ml
  compiler/utils/file.ml
  compiler/utils/file.mli
  examples/Makefile.common.mk
  examples/aides_logement/.gitignore
  examples/allocations_familiales/.gitignore
  french_law/js/README.md
  french_law/js/examples.js
  french_law/js/french_law.js
  french_law/ocaml/law_source/aides_logement_api_web.ml
  french_law/ocaml/law_source/allocations_familiales_api_web.ml
  generate_website_assets.sh
  runtimes/jsoo/runtime.ml
  runtimes/jsoo/runtime.mli
Labels: ✨ enhancement, 🔚 backends
