Repository CatalaLang/catala, pull requests merged in 2022-03, with the labels that each got.

#215 Fix(clerk): sort subdirectory names
  build_system/clerk_driver.ml
  build_system/tests/test_clerk_driver.ml
Labels: ❌ bug, 🏗️ build system

#212 Variable redefinitions: implementation of #114
  INSTALL.md
  compiler/desugared/ast.ml
  compiler/desugared/ast.mli
  compiler/desugared/dependency.ml
  compiler/desugared/dependency.mli
  compiler/desugared/desugared_to_scope.ml
  compiler/scopelang/ast.ml
  compiler/scopelang/ast.mli
  compiler/surface/ast.ml
  compiler/surface/desugaring.ml
  compiler/surface/lexer.cppo.ml
  compiler/surface/lexer_en.cppo.ml
  compiler/surface/lexer_fr.cppo.ml
  compiler/surface/lexer_pl.cppo.ml
  compiler/surface/name_resolution.ml
  compiler/surface/name_resolution.mli
  compiler/surface/parser.messages
  compiler/surface/parser.mly
  compiler/surface/tokens.mly
  doc/syntax/syntax.pdf
  doc/syntax/syntax.tex
  examples/tutorial_en/tutorial_en.catala_en
  syntax_highlighting/en/ace/mode-catala_en.js
  syntax_highlighting/en/atom/grammars/catala_en.cson
  syntax_highlighting/en/catala_en.iro
  syntax_highlighting/en/pygments/catala_en_lexer/lexer.py
  syntax_highlighting/en/vim/catala_en.vim
  syntax_highlighting/en/vscode/syntaxes/catalavs.xml
  syntax_highlighting/fr/ace/mode-catala_fr.js
  syntax_highlighting/fr/atom/grammars/catala_fr.cson
  syntax_highlighting/fr/catala_fr.iro
  syntax_highlighting/fr/pygments/catala_fr_lexer/lexer.py
  syntax_highlighting/fr/vim/catala_fr.vim
  syntax_highlighting/fr/vscode/syntaxes/catalavs.xml
  syntax_highlighting/pl/atom/grammars/catala_pl.cson
  syntax_highlighting/pl/catala_pl.iro
  syntax_highlighting/pl/pygments/catala_pl_lexer/lexer.py
  syntax_highlighting/pl/vim/catala_pl.vim
  tests/test_variable_state/bad/def_no_state.catala_en
  tests/test_variable_state/bad/no_cross_exceptions.catala_en
  tests/test_variable_state/bad/output/def_no_state.catala_en.Typecheck
  tests/test_variable_state/bad/output/no_cross_exceptions.catala_en.Typecheck
  tests/test_variable_state/bad/output/self_reference_first_state.catala_en.Typecheck
  tests/test_variable_state/bad/output/state_cycle.catala_en.Typecheck
  tests/test_variable_state/bad/output/unknown_state.catala_en.Typecheck
  tests/test_variable_state/bad/self_reference_first_state.catala_en
  tests/test_variable_state/bad/state_cycle.catala_en
  tests/test_variable_state/bad/unknown_state.catala_en
  tests/test_variable_state/good/output/simple.catala_en.A.Interpret
  tests/test_variable_state/good/output/simple.catala_en.Typecheck
  tests/test_variable_state/good/output/subscope.catala_en.A.Scopelang.catala_en
  tests/test_variable_state/good/output/subscope.catala_en.B.Interpret
  tests/test_variable_state/good/simple.catala_en
  tests/test_variable_state/good/subscope.catala_en
Labels: ✨ enhancement, 🔧 compiler, 💡 language

#216 Bump version to 0.6.0
  catala.opam
  clerk.opam
  dune-project
  french_law.opam
  ninja_utils.opam
Labels: ℹ️ information

#217 Fix dune build -p catala @runtest
  build_system/tests/dune
  catala.opam
  clerk.opam
  dune-project
  french_law.opam
  ninja_utils.opam
Labels: ❌ bug, 🏗️ build system

#218 Use format strings directly in debug/error/log functions
  build_system/clerk.ml
  build_system/clerk_driver.ml
  compiler/dcalc/interpreter.ml
  compiler/dcalc/print.ml
  compiler/dcalc/typing.ml
  compiler/desugared/dependency.ml
  compiler/desugared/desugared_to_scope.ml
  compiler/driver.ml
  compiler/lcalc/compile_without_exceptions.ml
  compiler/lcalc/to_ocaml.ml
  compiler/literate/html.ml
  compiler/scopelang/dependency.ml
  compiler/scopelang/scope_to_dcalc.ml
  compiler/surface/desugaring.ml
  compiler/surface/lexer_common.ml
  compiler/surface/name_resolution.ml
  compiler/surface/parser.mly
  compiler/surface/parser_driver.ml
  compiler/utils/cli.ml
  compiler/utils/cli.mli
  compiler/utils/errors.ml
  compiler/utils/errors.mli
  compiler/utils/pos.ml
  compiler/verification/conditions.ml
  compiler/verification/io.ml
  compiler/verification/z3backend.ml
  french_law/python/src/allocations_familiales.py
Labels: ✨ enhancement, 🔧 compiler, 🏗️ build system

#221 Command-line: use a record for the options
  compiler/catala_web_interpreter.ml
  compiler/driver.ml
  compiler/driver.mli
  compiler/utils/cli.ml
  compiler/utils/cli.mli
  french_law/js/french_law.js
Labels: 🔧 compiler

#222 Refactor: group common functions related to backend_option in the Cli module
  build_system/clerk_driver.ml
  compiler/driver.ml
  compiler/lcalc/ast.ml
  compiler/utils/cli.ml
  compiler/utils/cli.mli
Labels: 🔧 compiler, 🏗️ build system

#223 Make Z3 an optional dependency
  .github/workflows/run-builds.yml
  .github/workflows/run-make-all.yml
  INSTALL.md
  Makefile
  catala.opam
  compiler/verification/dune
  compiler/verification/z3backend.dummy.ml
  compiler/verification/z3backend.real.ml
  dune-project
Labels: ✨ enhancement, 🏗️ build system

#229 Fix logging operator location for default justifications
  compiler/desugared/desugared_to_scope.ml
  compiler/driver.ml
  compiler/scopelang/print.ml
  compiler/scopelang/print.mli
  compiler/scopelang/scope_to_dcalc.ml
Labels: ❓ invalid, 🔧 compiler

#230 [Z3encoding] Extend support for enumerations
  compiler/verification/z3backend.real.ml
  tests/test_proof/bad/enums_inj-empty.catala_en
  tests/test_proof/bad/enums_inj-overlap.catala_en
  tests/test_proof/bad/output/enums_inj-empty.catala_en.Proof
  tests/test_proof/bad/output/enums_inj-overlap.catala_en.Proof
  tests/test_proof/good/enums_inj.catala_en
  tests/test_proof/good/output/enums_inj.catala_en.Proof
Labels: 🔧 compiler, ✅ proof

#232 Fix typos in English tutorial
  examples/tutorial_en/tutorial_en.catala_en
Labels: 📘 documentation

#233 Adding a money rounding builtin to Catala
  compiler/dcalc/ast.ml
  compiler/dcalc/ast.mli
  compiler/dcalc/interpreter.ml
  compiler/dcalc/print.ml
  compiler/dcalc/typing.ml
  compiler/lcalc/to_ocaml.ml
  compiler/runtime.ml
  compiler/runtime.mli
  compiler/scalc/to_python.ml
  compiler/surface/ast.ml
  compiler/surface/desugaring.ml
  compiler/surface/lexer.cppo.ml
  compiler/surface/lexer_en.cppo.ml
  compiler/surface/lexer_fr.cppo.ml
  compiler/surface/lexer_pl.cppo.ml
  compiler/verification/z3backend.real.ml
  doc/syntax/syntax.pdf
  doc/syntax/syntax.tex
  french_law/python/src/catala.py
Labels: ✨ enhancement, 🔧 compiler, 💡 language

#234 Select a single scope for the proof mode
  compiler/driver.ml
  compiler/verification/conditions.ml
  compiler/verification/conditions.mli
Labels: ✨ enhancement, 🔧 compiler, ✅ proof

#236 [Z3 encoding] Add support for durations
  compiler/verification/z3backend.real.ml
  tests/test_proof/bad/duration-empty.catala_en
  tests/test_proof/bad/duration-overlap.catala_en
  tests/test_proof/bad/output/duration-empty.catala_en.Proof
  tests/test_proof/bad/output/duration-overlap.catala_en.Proof
  tests/test_proof/good/duration.catala_en
  tests/test_proof/good/output/duration.catala_en.Proof
Labels: ✅ proof
