Repository CatalaLang/catala, pull requests merged in 2022-05, with the labels that each got.

#252 refactor(latex): print warning messages for too long block lines
  compiler/literate/latex.ml
  examples/README.md
Labels: 📘 documentation, 🔚 backends

#246 Extract py runtime
  .github/workflows/run-make-all.yml
  Makefile
  compiler/scalc/to_python.ml
  french_law/python/Makefile
  french_law/python/dependencies.txt
  french_law/python/main.py
  french_law/python/requirements.txt
  french_law/python/setup_env.sh
  french_law/python/src/allocations_familiales.py
  french_law/python/src/api.py
  runtimes/python/catala/.gitignore
  runtimes/python/catala/pyproject.toml
  runtimes/python/catala/setup.cfg
  runtimes/python/catala/setup.py
  runtimes/python/catala/src/catala/__init__.py
  runtimes/python/catala/src/catala/runtime.py
Labels: ✨ enhancement, 🏗️ build system, 🔚 backends

#244 Bringing structure to the Lcalc AST
  Makefile
  build_system/clerk_driver.ml
  compiler/dcalc/ast.ml
  compiler/dcalc/ast.mli
  compiler/dcalc/optimizations.ml
  compiler/dcalc/optimizations.mli
  compiler/dcalc/print.ml
  compiler/dcalc/print.mli
  compiler/driver.ml
  compiler/lcalc/ast.ml
  compiler/lcalc/ast.mli
  compiler/lcalc/closure_conversion.ml
  compiler/lcalc/compile_with_exceptions.ml
  compiler/lcalc/compile_without_exceptions.ml
  compiler/lcalc/optimizations.ml
  compiler/lcalc/print.ml
  compiler/lcalc/print.mli
  compiler/lcalc/to_ocaml.ml
  compiler/literate/literate_common.mli
  compiler/scalc/compile_from_lambda.ml
  compiler/scopelang/scope_to_dcalc.ml
  compiler/surface/lexer_common.mli
  compiler/utils/cli.mli
  compiler/verification/conditions.ml
  compiler/verification/solver.ml
  examples/Makefile
  french_law/js/french_law.js
  french_law/ocaml/law_source/allocations_familiales.ml
  french_law/python/src/allocations_familiales.py
  tests/Makefile
Labels: ✨ enhancement, 🔧 compiler

#256 Fix money parsing
  compiler/surface/lexer.cppo.ml
  examples/allocations_familiales/tests/tests_allocations_familiales.catala_fr
  french_law/js/french_law.js
  french_law/ocaml/law_source/allocations_familiales.ml
  french_law/python/main.py
  french_law/python/src/allocations_familiales.py
  tests/test_money/good/literal_parsing.catala_en
  tests/test_money/good/output/literal_parsing.catala_en.A.Interpret
Labels: ❌ bug, 🔧 compiler

#264 Refactor: add wrappers for file formatter
  Makefile
  build_system/clerk_driver.ml
  compiler/driver.ml
  compiler/utils/file.ml
  compiler/utils/file.mli
  compiler/utils/utils.mld
Labels: 🔧 compiler, 🏗️ build system

#267 Refactor the web API by serializing runtime values
  catala.opam
  compiler/dune
  compiler/runtime.ml
  compiler/runtime.mli
  french_law/js/README.md
  french_law/js/french_law.js
  french_law/ocaml/api_web.ml
  french_law/ocaml/dune
Labels: 🔧 compiler, 🔚 backends

#270 Fix Nix expressions and convert them to flakes
  .nix/no-web.patch
  .nix/packages.nix
  .nix/ppx_yojson_conv.nix
  default.nix
  flake.lock
  flake.nix
  release.nix
  shell.nix
Labels: 🏗️ build system
