Repository CatalaLang/catala, pull requests merged in 2022-08, with the labels that each got.

#305 Mise à jour du calcul des aides au logement suite à revalorisation
  examples/aides_logement/archives.catala_fr
  examples/aides_logement/arrete_2019-09-27.catala_fr
Labels: ✨ enhancement, ⚖️ program

#303 Feat: improve the HTML generation with ToC and details tags
  .git-blame-ignore-revs
  .nix/catala.nix
  .ocamlformat
  build_system/clerk_driver.ml
  catala.opam
  compiler/dcalc/ast.ml
  compiler/dcalc/dune
  compiler/dcalc/interpreter.ml
  compiler/dcalc/print.ml
  compiler/dcalc/print.mli
  compiler/desugared/dependency.ml
  compiler/desugared/desugared_to_scope.ml
  compiler/driver.ml
  compiler/lcalc/ast.ml
  compiler/lcalc/backends.ml
  compiler/lcalc/backends.mli
  compiler/lcalc/dune
  compiler/lcalc/print.ml
  compiler/lcalc/print.mli
  compiler/lcalc/to_ocaml.ml
  compiler/literate/dune
  compiler/literate/html.ml
  compiler/literate/latex.ml
  compiler/plugins/api_web.ml
  compiler/plugins/json_schema.ml
  compiler/plugins/python.ml
  compiler/scalc/to_python.ml
  compiler/scopelang/dependency.ml
  compiler/scopelang/scope_to_dcalc.ml
  compiler/utils/cli.ml
  compiler/utils/dune
  compiler/utils/string_common.ml
  compiler/utils/string_common.mli
  compiler/utils/utils.mld
  examples/tutoriel_fr/tutoriel_fr.catala_fr
  french_law/js/french_law.js
  french_law/python/src/runtime.py
  runtimes/jsoo/runtime.ml
  runtimes/ocaml/runtime.ml
Labels: ✨ enhancement, 🔚 backends

#315 Factorise ASTs (between dcalc and lcalc)
  .git-blame-ignore-revs
  compiler/dcalc/ast.ml
  compiler/dcalc/ast.mli
  compiler/dcalc/optimizations.ml
  compiler/dcalc/typing.ml
  compiler/lcalc/ast.ml
  compiler/lcalc/ast.mli
  compiler/lcalc/closure_conversion.ml
  compiler/lcalc/compile_with_exceptions.ml
  compiler/lcalc/compile_without_exceptions.ml
  compiler/lcalc/to_ocaml.ml
  compiler/scalc/compile_from_lambda.ml
  compiler/scopelang/scope_to_dcalc.ml
  compiler/utils/astgen.ml
  compiler/utils/astgen_utils.ml
  compiler/utils/astgen_utils.mli
  compiler/utils/dune
  compiler/utils/marked.ml
  compiler/utils/marked.mli
  compiler/utils/var.ml
  compiler/utils/var.mli
  compiler/verification/conditions.ml
  compiler/verification/conditions.mli
  compiler/verification/io.ml
  compiler/verification/io.mli
  compiler/verification/z3backend.real.ml
  tests/test_scope/good/output/simple.catala_en.Lcalc
Labels: ✨ enhancement, 🔧 compiler

#319 Add test for precedence of local variabes vs. local scopes
  tests/test_name_resolution/good/let_in.catala_en
  tests/test_name_resolution/good/output/let_in.catala_en.S2.Interpret
Labels: ❓ invalid, 🔧 compiler
