Repository CatalaLang/catala, pull requests merged in 2022-06, with the labels that each got.

#275 Convert nix to flake (part 3)
  .github/workflows/update-flake-lock.yml
  .nix/catala.nix
  .nix/clerk.nix
  .nix/ninja_utils.nix
  .nix/packages.nix
  flake.lock
  flake.nix
Labels: 🏗️ build system

#280 Refactor(runtime/api_web): parse raw log events into structured ones
  Makefile
  compiler/index.mld
  compiler/lcalc/to_ocaml.ml
  compiler/runtime.ml
  compiler/runtime.mli
  compiler/scopelang/scope_to_dcalc.ml
  french_law/ocaml/api_web.ml
Labels: ✨ enhancement, 🔧 compiler, 🔚 backends

#283 refactor(runtime): ignore function definition while parsing raw events
  compiler/runtime.ml
Labels: 🔧 compiler, 🔚 backends
