Repository CatalaLang/catala, pull requests merged in 2023-06, with the labels that each got.

#471 Fix most doc errors
  build_system/ninja_utils.mli
  compiler/catala_utils/catala_utils.mld
  compiler/catala_utils/pos.mli
  compiler/dcalc/dcalc.mld
  compiler/desugared/desugared.mld
  compiler/desugared/name_resolution.mli
  compiler/index.mld
  compiler/lcalc/lcalc.mld
  compiler/literate/literate_common.mli
  compiler/plugin.mli
  compiler/scalc/scalc.mld
  compiler/scopelang/scopelang.mld
  compiler/shared_ast/dune
  compiler/shared_ast/operator.mli
  compiler/shared_ast/shared_ast.mld
  compiler/surface/surface.mld
Labels: ❌ bug, 🔧 compiler

#476 Messages renamed to Message (lighter syntax)
  build_system/clerk_driver.ml
  compiler/catala_utils/catala_utils.mld
  compiler/catala_utils/file.ml
  compiler/catala_utils/message.ml
  compiler/catala_utils/message.mli
  compiler/dcalc/from_scopelang.ml
  compiler/dcalc/invariants.ml
  compiler/desugared/dependency.ml
  compiler/desugared/from_surface.ml
  compiler/desugared/linting.ml
  compiler/desugared/name_resolution.ml
  compiler/desugared/print.ml
  compiler/driver.ml
  compiler/lcalc/compile_without_exceptions.ml
  compiler/lcalc/to_ocaml.ml
  compiler/literate/html.ml
  compiler/literate/latex.ml
  compiler/literate/literate_common.ml
  compiler/plugin.ml
  compiler/plugins/api_web.ml
  compiler/plugins/json_schema.ml
  compiler/plugins/lazy_interp.ml
  compiler/scalc/from_lcalc.ml
  compiler/scopelang/dependency.ml
  compiler/scopelang/from_desugared.ml
  compiler/shared_ast/expr.ml
  compiler/shared_ast/interpreter.ml
  compiler/shared_ast/operator.ml
  compiler/shared_ast/typing.ml
  compiler/surface/lexer_common.ml
  compiler/surface/parser.mly
  compiler/surface/parser_driver.ml
  compiler/verification/conditions.ml
  compiler/verification/io.ml
  compiler/verification/solver.ml
  compiler/verification/z3backend.dummy.ml
  compiler/verification/z3backend.real.ml
  french_law/catala_legifrance/api.ml
  french_law/catala_legifrance/catala_legifrance.ml
  french_law/catala_legifrance/date.ml
Labels: ✨ enhancement, 🔧 compiler

#480 Remove unmaintained examples (fix #468)
  Makefile
  examples/README.md
  examples/code_general_impots/.gitignore
  examples/code_general_impots/Makefile
  examples/code_general_impots/Section_I_Dispositions_generales.catala_fr
  examples/code_general_impots/code_general_impots.catala_fr
  examples/code_general_impots/prologue.catala_fr
  examples/hawaii_lfo/Makefile
  examples/hawaii_lfo/Title17-MotorAndOtherVehicles.catala_en
  examples/us_tax_code/section_1015.catala_en
  examples/us_tax_code/section_132.catala_en
  examples/us_tax_code/us_tax_code.catala_en
Labels: ❓ invalid, ⚖️ program
