Repository CatalaLang/catala, pull requests merged in 2024-10, with the labels that each got.

#708 Add a catch to error raised by get_command
  compiler/catala_utils/file.ml
Labels: ❓ invalid, 🔧 compiler

#710 Dcalc: don't thunk context inputs anymore
  compiler/dcalc/from_scopelang.ml
  compiler/dcalc/invariants.ml
  compiler/plugins/api_web.ml
  compiler/shared_ast/interpreter.ml
  compiler/verification/conditions.ml
  tests/backends/output/simple.c
  tests/bool/good/test_bool.catala_en
  tests/func/good/scope_call_func_struct_closure.catala_en
  tests/io/good/all_io.catala_en
  tests/io/good/subscope.catala_en
  tests/monomorphisation/context_var.catala_en
  tests/name_resolution/good/let_in2.catala_en
Labels: ✨ enhancement, 🔧 compiler

#706 Add `--autotest` option
  catala.opam
  compiler/catala_utils/cli.ml
  compiler/catala_utils/cli.mli
  compiler/catala_web_interpreter.ml
  compiler/dcalc/autotest.ml
  compiler/dcalc/autotest.mli
  compiler/driver.ml
  compiler/driver.mli
  compiler/plugins/api_web.ml
  compiler/plugins/explain.ml
  compiler/plugins/json_schema.ml
  compiler/plugins/lazy_interp.ml
  compiler/plugins/python.ml
  compiler/shared_ast/boundList.ml
  compiler/shared_ast/boundList.mli
  compiler/shared_ast/interpreter.ml
  compiler/shared_ast/program.ml
  compiler/shared_ast/program.mli
  compiler/shared_ast/scope.mli
  compiler/shared_ast/type.ml
  compiler/shared_ast/type.mli
  runtimes/ocaml/runtime.ml
  runtimes/ocaml/runtime.mli
  tests/tuples/good/tuples.catala_en
Labels: ✨ enhancement, 🔧 compiler, 🏗️ build system

#712 Add TOML encoding
  build_system/clerk_config.ml
  build_system/clerk_config.mli
  build_system/clerk_driver.ml
  build_system/clerk_toml_encoding.ml
  build_system/clerk_toml_encoding.mli
  build_system/dune
Labels: ✨ enhancement, 🏗️ build system

#711 Small collection of fixes and cleanup for the C backend
  build_system/clerk_driver.ml
  compiler/driver.ml
  compiler/scalc/to_c.ml
  runtimes/c/runtime.c
  runtimes/ocaml/runtime.ml
  tests/array/good/aggregation_4.catala_en
  tests/backends/output/main.c
  tests/modules/good/prorata_external.ml
  tests/name_resolution/good/keywords.catala_en
Labels: ❌ bug, 🔧 compiler

#713 Improvements to the explain plugin
  compiler/plugins/explain.ml
Labels: ✨ enhancement, 🔧 compiler

#722 Add a tooling section in readme and deprecate legacy vscode extension
  README.md
  syntax_highlighting/vscode/.vscodeignore
  syntax_highlighting/vscode/CHANGELOG.md
  syntax_highlighting/vscode/README.md
  syntax_highlighting/vscode/language-configuration.json
  syntax_highlighting/vscode/logo.png
  syntax_highlighting/vscode/package.json
  syntax_highlighting/vscode/syntaxes/en.xml
  syntax_highlighting/vscode/syntaxes/fr.xml
  syntax_highlighting/vscode/vsc-extension-quickstart.md
Labels: 📘 documentation
