Repository CatalaLang/catala, pull requests merged in 2025-01, with the labels that each got.

#770 Handle carriage returns in the lexer
  compiler/surface/lexer.cppo.ml
Labels: ❌ bug, 🔧 compiler, 🤩 ide

#754 Format trace to JSON format
  .envrc
  compiler/catala_utils/cli.ml
  compiler/catala_utils/global.ml
  compiler/catala_utils/global.mli
  compiler/catala_utils/hash.ml
  compiler/catala_utils/message.ml
  compiler/catala_utils/message.mli
  compiler/catala_web_interpreter.ml
  compiler/dcalc/from_scopelang.ml
  compiler/lcalc/to_ocaml.ml
  compiler/plugins/api_web.ml
  compiler/scalc/to_python.ml
  compiler/scopelang/from_desugared.ml
  compiler/shared_ast/interpreter.ml
  runtimes/ocaml/runtime.ml
  runtimes/ocaml/runtime.mli
  tests/scope/good/scope_call3.catala_en
Labels: ✨ enhancement, 🔧 compiler

#752 Compatibility with LSP server build on different platforms
  runtimes/c/dune
Labels: 🏗️ build system, 🤩 ide
